/* Define the default styles for the navbar items */
.navbar {
	display: flex;
	flex-direction: column;
	font-weight: bold
}

	.navbar a {
		display: flex;
		align-items: center;
		padding: 12px 18px;
		margin: 8px 8px 0px 8px; /* top - right - bottom - left */
		gap: 10px;
		transition: background-color 0.4s;
		border-radius: 8px;
	}

	.navbar .current-page {
		background-color: #594AE2;
		color: white;
	}

	.navbar a:hover {
		background-color: #594AE2;
		color: white;
	}
